body
{background-color:#d3b5bc;
  color:purple;}
body
 {
  background-image: url("flower.jpg");
  background-size:700px;
  background-position:top;
  background-repeat:no-repeat;
  margin: 10px;
  padding: 10px;
  background-attachment:auto;
}
h1 {color:darkred;}
.button {
  color:black;
  background-color:darkred;
   text-align: center;
	}
	table,th,td
	{border:2px solid black;}
.mydiv { border: 5px outset blue;
  background-color: lightcyan;    
  text-align: center;
}
.box{width:50px;
height: 50px;
background-color:black;
padding: 20pt;
shape-margin: oval;
border:2em solid red;
margin:10px solid yellow;
}
.end{text-align: center;
background-color: lightcyan;
border: 3px outset blue;
} 
